html {
    direction: rtl;
    text-align: right;
}
.owl-carousel { 
    direction: ltr;
}
.owl-carousel .owl-item { 
    direction: rtl; 
}
.navbar .navbar-nav {
    margin-left: 0;
    margin-right: auto;
}
.navbar-brand {
    margin-right: 0;
}
.navbar .navbar-nav .nav-item .nav-link::before {
    right: unset;
    left: 0;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before {
    right: 0;
    left: auto;
}
.agency-banner-content .social-link span {
    margin-right: 0;
    margin-left: 90px;
}
.agency-banner-content .social-link span::before{
    right: unset;
    left: -79px;
}
.about-content ul li {
    border-right: none;
    border-left: 1px solid #c7cace;
    padding-right: 0;
    margin-right: 0;
    padding-left: 30px;
    margin-left: 30px;
}
.about-img .video-button {
    right: unset;
    left: 110px;
}
.single-counter i {
    left: unset;
    right: 0;
}
.single-counter {
    position: relative;
    padding-left: unset;
    padding-right: 110px;
}
.single-counter i::after {
    right: unset;
    left: -20px;
}
.single-pricing.active p {
    right: unset;
    left: -55px;
    transform: rotate(-45deg);
}
.get-in-touch-btn {
    text-align: left;
}
.testimonial-area .owl-nav {
    right: unset;
    left: 25px;
}
.testimonial-content::before {
    left: unset;
    right: -100px;
}
.single-blog-post .blog-img .date {
    left: unset;
    right: 0;
}
.list-unstyled {
    text-align: right;
}
.single-footer-widget .social-area li {
    margin-right: unset;
    margin-left: 10px;
}
.single-footer-widget .twitter i{
    left: unset;
    right: 0;
}
.single-footer-widget .twitter {
    padding-left: unset;
    padding-right: 55px;
}
.single-footer-widget .twitter-text::before {
    left: unset;
    right: 30px;
    transform: rotate(65deg);
    border-right: 50px solid transparent;
    border-left: 10px solid transparent;
}
.single-footer-widget .address li {
    padding-left: 0;
    padding-right: 20px;
}
.single-footer-widget .address li::before {
    left: unset;
    right: 0;
}
.demo-side-icon {
    right: unset;
    left: -1px;
}
.demos-side-content .modal.modal-left .modal-dialog {
    transform: translate(100%, 0);
   
    margin: 0 0 0 auto;
}   
.demos-side-content .modal.modal-right .modal-dialog {
    transform: translate(-100%, 0);
    margin: 0 auto 0 0;
}
.demo-side-icon .modal-btn span {
    border-radius: 0 5px 5px 0;
}
.demo-side-icon .modal-btn {
    border-radius: 0 5px 5px 0;
}
.modal-header .close {
    margin: auto -1rem -1rem -1rem;
}
.modal-header .close {
    position: relative;
    top: -8px;
}
.demos-side-content .modal-header h2 {
    position: relative;
    top: 10px;
}
.go-top {
    right: unset;
    left: 10%;
}
.go-top.active {
    left: 3%;
    right: unset;
}
.agency-banner-area .banner-bottom-shape {
    left: unset;
    right: -5px;
}
.single-feature::before {
    right: unset;
    left: 0;
}
.saas-banner-img .banner-shape-2 {
    right: unset;
    left: 0;
}
.saas-banner-img .banner-shape-1 {
    left: unset;
    right: 100px;
}
.new-services-img .new-services-shape {
    left: unset;
    right: 50px;
}
.new-services-content h2::before {
    left: unset;
    right: 0;
}
.saas-banner-content h1 span::before {
    left: unset;
    right: 0;
}
.thumbs .owl-thumb-item .testimonial-thumbs.img-2 {
    left: unset;
    right: 360px;
}
.thumbs .owl-thumb-item .testimonial-thumbs.img-3 {
    left: unset;
    right: 500px;
}
.thumbs .owl-thumb-item .testimonial-thumbs.img-4 {
    left: unset;
    right: 300px;
}
.thumbs .owl-thumb-item .testimonial-thumbs.img-5 {
    left: unset;
    right: 45px;
}
.saas-testimonial-area .testimonial-title span::before {
    left: unset;
    right: 0;
}
.saas-testimonial-area .testimonial-title span {
    padding-left: unset;
    padding-right: 50px;
}
.saas-blog-area .single-blog-post .news-content .admin-content .date {
    float: left;
}
.faq-accordion .accordion .accordion-item {
    padding-left: 10px;
}
.faq-accordion .accordion .accordion-title {
    padding-left: 20px;
    padding-right: 30px;
}
.saas-contact-area .contact-form {
    text-align: right;
}
.about-content .top-title {
    padding-left: unset;
    padding-right: 50px;
}
.about-content .top-title::before {
    left: unset;
    right: 0;
}
.single-footer-widget .newsletter-form .send-btn {
    left: 0;
    right: unset;
}
.seo-banner-area {
    background-position: left;
}
.seo-about-area .faq-accordion .accordion .accordion-title {
    padding-right: 20px;
    padding-left: 50px;
}
.seo-about-area .faq-accordion .accordion .accordion-title i {
    right: unset;
    left: 15px;
}
.about-content ul li {
    margin-left: 0;
}
.seo-about-area .about-content .top-title {
    padding-right: 0;
}
.different-content ul li::before {
    left: unset;
    right: 0;
}
.seo-pricing-area .single-pricing .package {
    font-size: 20px;
}
.seo-blog-area .admin-content .date {
    float: left;
}
.seo-blog-area .admin-content li i {
    margin-right: 0;
    margin-left: 5px;
}
.seo-contact-area .contact-form {
    text-align: right;
}
.consulting-banner-content .social-link span {
    margin-right: unset;
    margin-left: 90px;
}
.consulting-banner-content .social-link span::before {
    right: unset;
    left: -79px;
}
.consulting-banner-img .video-button {
    left: unset;
    right: 30px;
}
.consulting-about-img::before {
    right: 190px;
    left: unset;
}
.consulting-about-img .shape {
    right: unset;
    left: -100px;
}
.single-consulting-services p {
    padding-left: unset;
    padding-right: 65px;
}
.single-consulting-services i {
    left: unset;
    right: 26px;
}
.consultancy-area::before {
    left: unset;
    right: 0;
}
.consultancy-content {
    margin-right: auto;
    margin-left: unset;
}
.consultancy-area .owl-nav {
    text-align: right;
}
.consulting-testimonial-area .testimonial-title {
    right: unset;
    left: 15px;
}
.consulting-testimonial-area .owl-nav {
    width: 750px;
}
.consulting-contact-area .contact-form {
    text-align: right;
}
.skill-bar .progress-number-mark {
    transform: translateX(48%);
}
.personal-blog-area .admin-content .date {
    float: left;
}

.product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
    padding-left: 200px;
    padding-right: 0;
}
.sidebar-widget.search .search-form .search-button {
    right: unset;
    left: 20px;
}
.sidebar-widget.latest-news ul li {
    padding-left: 0;
    padding-right: 20px;
}
.sidebar-widget.latest-news ul li::before {
    left: unset;
    right: 0;
}
.blog-details-content .blog-top-content .news-content .admin li {
    margin-right: 0;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 20px;
    border-right: none;
    border-left: 2px solid #555555;
}
.blog-details-content .blog-top-content .news-content .admin li:last-child {
    border-left: none;
}
.blog-details-content .blog-top-content blockquote p {
    border-left: none;
    border-right: 2px solid #ee3232;
}
.blog-details-content .comments ul li {
    padding-left: 0;
    padding-right: 100px;
}
.blog-details-content .comments ul li img {
    left: unset;
    right: 0;
}
.blog-details-content .comments ul li {
    padding-right: 0;
}
.blog-details-content .comments ul li img {
    position: unset;
    display: block;
}
.navbar .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 13px;
    margin-left: 0;
}
.navbar .navbar-nav .nav-item:first-child .nav-link {
    margin-left: 13px;
    margin-right: 0;
}
.demos-side-content .modal {
    padding-left: 0 !important;
}
.modal-header .close {
    top: -12px;
    left: 16px;
}
.demos-side-content .modal-header h2 {
    position: relative;
    top: 0px;
}
[type=email], [type=number], [type=tel], [type=url] {
    direction: unset;
}
.navbar .navbar-nav .nav-item:first-child .nav-link {
    margin-left: 13px;
    margin-right: 13px;
}

.demos-side-content {
    right: auto;
    left: -100%;
}
.demos-side-content.show {
    right: auto;
    left: 0;
}
.single-feature {
    padding-left: 0;
    padding-right: 65px;
}
.single-feature i {
    left: auto;
    right: 0;
}
.saas-testimonial-area .testimonial-content .quotes-icon {
    left: 10px;
    right: auto;
}
.faq-accordion .accordion .accordion__button {
    text-align: right;
}
.accordion__button:before {
    margin-right: 0;
    margin-left: 10px;
}
.skill-bar h4 span {
    float: left;
}
.blog-details-content .blog-top-content .news-content .admin li i {
    margin-right: 0;
    margin-left: 7px;
}
.blog-details-content .leave-reply input[type=checkbox], .blog-details-content .leave-reply input[type=radio] {
    margin-right: 0;
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {
    .about-content ul li:last-child {
        padding-left: 0;
    }
    .about-content ul li {
        padding-left: 16px;
        margin-left: 10px !important;
    }
    .different-content h2 {
        font-size: 30px;
    }
    .skill-content .shape-2 {
        display: none;
    }
    .consulting-testimonial-area .owl-nav {
        width: auto;
    }
    .seo-about-area .faq-accordion .accordion .accordion-item {
        margin-left: 0 !important;
    }
    .single-consulting-services p {
        padding-left: unset;
        padding-right: 0;
    }
    .consultancy-area .owl-nav .owl-prev i {
        font-size: 30px;
    }
    .consultancy-area .owl-nav .owl-next i {
        font-size: 30px;
    }
    .consultancy-area .owl-nav {
        margin-bottom: 25px;
    }
    .consulting-testimonial-area .owl-nav .owl-prev i {
        font-size: 30px;
    }
    .consulting-testimonial-area .owl-nav .owl-next i {
        font-size: 30px;
    }
    .get-in-touch-btn {
        text-align: center;
    }
    .saas-testimonial-area {
        text-align: center;
    }
    .saas-testimonial-area .testimonial-title span {
        padding-right: 0;
    }
    .consulting-banner-content .social-link span {
        margin-left: 10px !important;
    }
    .consulting-banner-img .video-button {
        left: unset;
        right: 0;
    }
    .single-feature {
        padding-right: 50px;
    }
    .single-feature i {
        font-size: 35px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .offset-sm-3 {
        margin-right: 25%;
        margin-left: unset;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .offset-sm-3 {
        margin-right: 25%;
        margin-left: unset;
    }
    .offset-md-3 {
        margin-right: 25%;
        margin-left: 0;
    }
    .different-content h2 {
        font-size: 30px;
    }
    .consultancy-content {
        margin-right: auto;
        margin-left: auto;
    }
    .skill-content .shape-2 {
        display: none;
    }
    .consulting-testimonial-area .owl-nav {
        width: auto;
    }
    .seo-about-area .faq-accordion .accordion .accordion-item {
        margin-left: 0 !important;
    }
    .single-consulting-services p {
        padding-left: unset;
        padding-right: 0;
    }
    .consultancy-area .owl-nav .owl-prev i {
        font-size: 30px;
    }
    .consultancy-area .owl-nav .owl-next i {
        font-size: 30px;
    }
    .consultancy-area .owl-nav {
        margin-bottom: 25px;
    }
    .consulting-testimonial-area .owl-nav .owl-prev i {
        font-size: 30px;
    }
    .consulting-testimonial-area .owl-nav .owl-next i {
        font-size: 30px;
    }
    .get-in-touch-btn {
        text-align: center;
    }
    .consultancy-content {
        text-align: center;
    }
    .consultancy-area .owl-nav {
        text-align: center;
    }
    .saas-testimonial-area {
        text-align: center;
    }
    .saas-testimonial-area .testimonial-title span {
        padding-right: 0;
    }
    .consulting-banner-content .social-link span {
        margin-left: 10px !important;
    }
    .consulting-banner-img .video-button {
        left: unset;
        right: 0;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .thumbs .owl-thumb-item .testimonial-thumbs.img-3 {
        left: unset;
        right: 380px;
    }
    .saas-blog-area .single-blog-post .news-content .admin-content li {
        font-size: 13px;
    }
    .saas-blog-area .single-blog-post .news-content .admin-content .date {
        position: relative;
        top: 5px;
    }
    .skill-content .shape-2 {
        display: none;
    }
    .consultancy-content {
        margin-right: 30px;
        margin-left: 30px;
    }
    .consultancy-item p {
        font-size: 15px;
    }
    .single-consulting-services p {
        padding-right: 0;
    }
}

@media only screen and (min-width: 1700px) {
    .agency-banner-content {
        margin-left: 0;
        margin-right: auto;
    }
}